
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    @Styles.Render("~/Content/DavidsStyles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="boardStyle.css">

    <title>Main Family Feud App</title>

</head>
<body class="fullPage">
	<div class="circle"> </div>
	<section class="smallxContainer" id="sXcontainer">
		<div class="SxBox">
			<div class="grayXbox" id="smallX1"> </div>
			@*<div class="redXbox"> </div>*@  
		</div>
		<div class="SxBox">
			<div class="grayXbox" id="smallX2"> </div>
			@*<div class="redXbox"> </div>*@
		</div>
		<div class="SxBox">
			<div class="grayXbox" id="smallX3"> </div>
			@*<div class="redXbox"> </div>*@
		</div>
	</section>
	<div class="roundIndicator" id="roundNumber"> Round 3 </div>
	<div class="roundScoreBox" id="roundScore"> 72 </div>
	<div class="team1Container">
		<div class="team1Name" id="teamName1">Team Martin</div>
		<div class="team1Total">1200</div>
	</div>
	<div class="team2Container">
		<div class="team2Name" id="teamName2">Team NON Wreckin</div>
		<div class="team2Total">1</div>
	</div>
	<div class="resultBoard">
		<section class="container">
			<div class="result" id="result1">
				<div class="frontResult"><p>1</p></div>
				<div class="backResult">NICE!</div>
				<div class="pointValue" id="resultPoints1">12</div>
			</div>
		</section>

		<section class="container">
			<div class="result" id="result2">
				<div class="frontResult"><p>2</p></div>
				<div class="backResult">BLUEBERRY</div>
				<div class="pointValue" id="resultPoints2">12</div>
			</div>
		</section>

		<section class="container">
			<div class="result" id="result3">
				<div class="frontResult"><p>3</p></div>
				<div class="backResult">YELLOW</div>
				<div class="pointValue" id="resultPoints3">12</div>
			</div>
		</section>

		<section class="container">
			<div class="result" id="result4">
				<div class="frontResult"><p>4</p></div>
				<div class="backResult">MMMMM</div>
				<div class="pointValue" id="resultPoints4">12</div>
			</div>
		</section>

		<section class="container">
			<div class="result" id="result5">
				<div class="frontResult"><p>5</p></div>
				<div class="backResult">WHOAHH</div>
				<div class="pointValue" id="resultPoints5">12</div>
			</div>
		</section>

		<section class="container">
			<div class="result" id="result6">
				<div class="frontResult"><p>6</p></div>
				<div class="backResult">NOT TODAY</div>
				<div class="pointValue" id="resultPoints6">12</div>
			</div>
		</section>

		<section class="container">
			<div class="result" id="result7">
				<div class="frontResult"><p>7</p></div>
				<div class="backResult">SOUR</div>
				<div class="pointValue" id="resultPoints7">12</div>
			</div>
		</section>

		<section class="container">
			<div class="result" id="result8">
				<div class="backResult">COOL</div>
				<div class="frontResult"><p>8</p></div>
				<div class="pointValue" id="resultPoints8">12</div>
			</div>
		</section>
	</div>
		<section class="largexContainer">
			<div class="LxBox">
				<div class="lRedXbox" id="firstWrong"></div>
			</div>
			<div class="LxBox">
				<div class="lRedXbox" id="secondWrong"></div>
			</div>
			<div class="LxBox">
				<div class="lRedXbox" id="thirdWrong"></div>
			</div>
		</section>
	<section class="buttonBox">
		<section class="buttons">
			<div class="awardTeam1">
				<button class="btn form-control">+</button>
			</div>
			<div class="nextQuestion">
				<button class="btn form-control">>></button>
			</div>
			<div class="awardTeam2">
				<button class="btn form-control">+</button>
			</div>
		</section>
	</section>
	<section class="questionBox"> Question could go here maybe?</section>


</body>
</html>
<script>
    //  hide the box containers that hold the red Xs
	$(".lRedXbox").hide();
	$(".largexContainer").hide();

    //  audio variables
    var wrongBuzzer = document.createElement('audio');
    var correctBuzzer = document.createElement('audio');

    correctBuzzer.setAttribute('src', 'http://www.qwizx.com/gssfx/usa/ff-clang.wav');
    wrongBuzzer.setAttribute('src', 'http://www.qwizx.com/gssfx/usa/ff-strike.wav');
    
    var count = 0; //   used to keep track of the number of wrong answers

    //  ***Click Events

    //  click event for the container that holds the 3 small Xs
	$("#sXcontainer").on('click', function () {
        //  first click 
        if (count == 0) {
            //  turns the first X red
			$("#smallX1").removeClass('grayXbox');
			$("#smallX1").addClass('redXbox');
			count++;
        }
        //  second click
        else if (count == 1) {
            //  turns the second X red
			$("#smallX2").removeClass('grayXbox');
			$("#smallX2").addClass('redXbox');
			count++;
        }
        //  third click
        else {
            //  turns the third X red
			$("#smallX3").removeClass('grayXbox');
			$("#smallX3").addClass('redXbox');
			count++;
        }		

        //  shows the container that holds the large Xs
        //  but leaves the individual Xs hidden so they do
        //   not display over the game board
        $(".largexContainer").show();
        
		DisplayLargeX(count);
    });

    //  click event for the answer boxes
    $(".result").on('click', function () {
        //  grabs the Id of the click answered box
        var thisID = $(this).prop('id');
        var divID = document.getElementById(thisID);
        //  passes the Id to the flip function
        Flip(divID);

    });


    //  ***Functions

    //  Displays the 3 large Xs in front of the game board
    //  and hides them after 4 seconds
    function DisplayLargeX(count) {
        //  if 1 wrong answer
        if (count == 1) {
            //  diplay the 1st large X (left most X)
            $("#firstWrong").show();            
        }
        //  if there are 2 wrong answers
        else if (count == 2) {
            //  display the 1st and 2nd large Xs (left most and middle Xs)
			$("#firstWrong").show();
			$("#secondWrong").show();			
        }
        //  other wise there are 3 wrong answers
        else {
            //  display all three large Xs
			$("#firstWrong").show();
			$("#secondWrong").show();
			$("#thirdWrong").show();			
        }

        //  play the wrong answer audio buzzer
        wrongBuzzer.play();

        //  after 4 seconds the containers that hold the large Xs
        //  are hidden so players can click the middle most answer 
        //  boxes
		setTimeout(function () {
			$(".lRedXbox").hide()
        }, 4000);

        setTimeout(function () {
            $(".largexContainer").hide()
        }, 4000);
	}
    //  this function triggers the flip animation for the answer boxes
    function Flip(div) {
        //  toggles the flipped class to the element whos Id was passed
        //  into the function
		$(div).toggleClass('flipped');
        //  plays the correct answer audio 
        correctBuzzer.play();
    }


    function MakeQuestion() {

        $.getJSON("../../Content/Questions/FamilyFeudQuestions.json", function (data) {
            var alldata = data;            
            var mydata = Object.keys(data);
            var Q = alldata[mydata[0]];
            var test = Shuffle(mydata);
            console.log(Q[0][0]);
            console.log(Q[0][1]);

        //  displays all answers and their point values for the Q (question)
        // for (var i = 0; i < Q.length; i++){
        //    console.log(Q[i]);
        //}
            //console.log(test);
        });
    }



    function Shuffle(array) {
        var currentIndex = array.length, temporaryValue, randomIndex;
        while (0 !== currentIndex) {
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex -= 1;
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }
        return array;
    }
    //  Functions I still need:

    //  a Get questions data
    //  Shuffle/ randomize list of questions
    //  Change questions
    //  Make question?

</script>