
@{
    Layout = null;
}

<!DOCTYPE html>
<!--http://localhost:50392/FamilyFeud/FamilyPicker-->
<html>
<head>
    @Styles.Render("~/Content/DavidsStyles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width" />
    <title>FriendPicker</title>
</head>
<body class="fullPage">
    <div style="text-align:center">
        <h1 style="color:yellow; font-size:100px; font-weight:bolder">Friend Picker</h1>
        <h6 style="color:yellow ">Not Family</h6>
    </div>
        <div style="text-align:center; width:65%; background-color:darkcyan" class="container">
            <div class="row">
                <div style="text-align:left" class="col-md-5">
                    <h1 style="color:yellow">Team 1</h1>
                    <p><input placeholder="Enter Team Name" id="team1" class="form-control" style="height:100px; width:2000px;"/></p>
                    @*<table  id ="team1Table" class="table table-bordered ">
                    </table>*@
                </div>
                <div style="text-align:left" class="col-md-offset-7">
                    <h1 style="color:yellow">Team 2</h1>
                    <p><input placeholder="Enter Team Name" id="team2" class="form-control" style="height:100px; width:2000px; font-size:30px;"/></p>
                    @*<table id ="team2Table" class="table table-bordered col-md-5">                    
                    </table>*@
                </div>
            </div>
            <div class="row">
                <button id="startButton" class="btn btn-primary" >Start Game</button>
            </div>
        </div>      
</body>
</html>
<script>

    $("#startButton").on('click', function () {
        var team1 = $("#team1").val();
        var team2 = $("#team2").val();

        window.location.href = "/FamilyFeud/DavidsGameBoard?team1=" + team1 + "&team2=" + team2;

    });

    ////  appends 5 player rows to both of the team tables
    //for (var i = 0; i < 5; i++){
    //    var playerNumber = ["1", "2", "3", "4", "5"];
    //    var team1PlayerIds = ["1P1", "1P2", "1P3", "1P4", "1P5"];
    //    var team2PlayerIds = ["2P1", "2P2", "2P3", "2P4", "2P5"];
    //    var team1PlayerRow =
    //        '<tr>' +
    //        '<td>Player '+ playerNumber[i] +'</td>' +
    //        '<td><input id="team'+ team1PlayerIds[i] +'" placeholder="Enter Player\'s Name" class="form-control" /></td>' +
    //        '</tr>';
    //    var team2PlayerRow =
    //        '<tr>' +
    //        '<td>Player ' + playerNumber[i] + '</td>' +
    //        '<td><input id="team' + team2PlayerIds[i] + '" placeholder="Enter Player\'s Name" class="form-control" /></td>' +
    //        '</tr>';
    //    $("#team1Table").append(team1PlayerRow);
    //    $("#team2Table").append(team2PlayerRow);
    //}
    
</script>