@model Family_Feud.Models.GameData
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    @Styles.Render("~/Content/StevesStyles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    <link rel="stylesheet" href="SteveScreenc2.css">
    <title>Steve's Screen</title>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.js"></script>
</head>
<body class="fullPage">
    <div id="questionBox" class="question">Click "Next Question" to start the game!! and agree that Codey sucks</div>
    <button class="resetButton" id="rButton"></button>
    <div class="answersContainer">
        <div class="answersBox" >
            <div class="aButtonsBox">
                <button class="aButtons" id="result1">1</button>
                <div class="answers" id="answers1"></div>

            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result2">2</button>
                <div class="answers" id="answers2"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result3">3</button>
                <div class="answers" id="answers3"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result4">4</button>
                <div class="answers" id="answers4"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result5">5</button>
                <div class="answers" id="answers5"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result6">6</button>
                <div class="answers" id="answers6"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result7">7</button>
                <div class="answers" id="answers7"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result8">8</button>
                <div class="answers" id="answers8"></div>
            </div>
        </div>
    </div>
    <div class="otherButtonsBox">
        <button class="wrongButton">WRONG ANSWER</button>
        <button class="addToTeam1">@Model.TeamOne</button>
        <button class="addToTeam2">@Model.TeamTwo</button>
        <button class="nextQuestion">Next Question</button>
    </div>

    <div class="footer"> Developed by: David Martin and Codey VonVreckin</div>

</body>
</html>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.js"></script>
<script type="text/javascript">
    //  want to store these in C#
    var SubKey = '@Model.SubKey';
    var PubKey = '@Model.PubKey';
    var myChannel = '@Model.Channel';
    var wrongAnswersCount = 1;

    var pubnub = new PubNub({
        subscribeKey: SubKey,
        publishKey: PubKey,

    });

    pubnub.subscribe({
        channels: [myChannel]
    });
    pubnub.publish({
        mmessage: ["Start"],
        channel : myChannel
    });
    // Subscribe to the demo_tutorial channel
    pubnub.addListener({
        message: function (object) {
            console.log(object.message[0])
            if (object.message[0] == "NewQuestion") {
                var answers = object.message[2]
                console.log(answers);
                for (var i = 1; i < 9; i++) {
                    $("#answers" + i ).text("");
                }
                for (var i = 0; i < answers.length; i++) {
                    $("#answers" + (i+1)).text(answers[i][0]);
                }
                $("#questionBox").text(object.message[1]);
            }            
        }
    })
    //broken
    $(".resetButton").on('click', function () {

        pubnub.publish({
            message: ["Wrong", wrongAnswersCount],
            channel: myChannel
        });
        if (wrongAnswersCount < 4) {
            wrongAnswersCount++;
        }
    });



    $(".aButtons").on('click', function () {
        var thisID = $(this).prop('id');
        //console.log(thisID);
        //var divID = document.getElementById(thisID);
        pubnub.publish({
            message: ["Correct", "#"+thisID],
            channel: myChannel
        });

    });

    // changes font color and adds strikethrough to answers that have been clicked
    $(".aButtons").on('click', function () {
        var thisID = $(this).prop('id');
        var num = thisID.substring(6, 7);
        var target = $("#answers" + num).prop('id');
        var answer = $("#answers" + num).text();
        var result = ('<font color="#000066"> <i/> <b/>' + answer.strike());
        //33 4d 66
        console.log(thisID);
        console.log(num);
        console.log(target);
        console.log(answer);
        console.log(result);
        document.getElementById(target).innerHTML = result;

    });

    //broken
    $(".questionBox").on('click', function () {
        pubnub.publish({
            message: ["WrongShowdown", wrongAnswersCount],
            channel: myChannel
        });
        wrongAnswersCount = 4;
    });
    
    $(".wrongButton").on('click', function () {

        pubnub.publish({
            message: ["Wrong", wrongAnswersCount],
            channel: myChannel
        });
        if (wrongAnswersCount < 4) {
            wrongAnswersCount++;
        }
    });

    $(".addToTeam1").on('click', function () {
        pubnub.publish({
            message: ["Award", "#teamTotal1"],
            channel: myChannel
        });
    });

    $(".addToTeam2").on('click', function () {
        pubnub.publish({
            message: ["Award", "#teamTotal2"],
            channel: myChannel
        });
    });

    $(".nextQuestion").on('click', function () {

        pubnub.publish({
            message: ["Next"],
            channel: myChannel
        });
        wrongAnswersCount = 1;
        
    });
</script>