@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    @Styles.Render("~/Content/StevesStyles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    <link rel="stylesheet" href="SteveScreenc2.css">
    <title>Steve Harvey's Screen 111111111111111111</title>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.js"></script>
</head>
<body class="fullPage">
    <div id="questionBox" class="question">Click "Next Question" to start the game!! :?)</div>
    <div class="answersContainer">
        <div class="answersBox" >
            <div class="aButtonsBox">
                <button class="aButtons" id="result1">1</button>
                <div class="answers" id="answers1"></div>

            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result2">2</button>
                <div class="answers" id="answers2"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result3">3</button>
                <div class="answers" id="answers3"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result4">4</button>
                <div class="answers" id="answers4"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result5">5</button>
                <div class="answers" id="answers5"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result6">6</button>
                <div class="answers" id="answers6"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result7">7</button>
                <div class="answers" id="answers7"></div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="result8">8</button>
                <div class="answers" id="answers8"></div>
            </div>
        </div>
    </div>
    <div class="otherButtonsBox">
        <button class="wrongButton">WRONG ANSWER</button>
        <button class="addToTeam1">Team 1 Points</button>
        <button class="addToTeam2">Team 2 Points</button>
        <button class="nextQuestion">Next Question</button>
    </div>

    <div class="footer"> Developed by: David Martin and Codey VonVreckin</div>

</body>
</html>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.js"></script>
<script type="text/javascript">
    //  want to store these in C#
    var SubKey = "sub-c-e53da4be-c647-11e7-8d13-12daa3930087";
    var PubKey = "pub-c-12219e16-c45b-411e-aa5a-977e1a130441";
    var myChannel = 'DavidSucksBallz';
    var wrongAnswersCount = 1;

    var pubnub = new PubNub({
        subscribeKey: SubKey,
        publishKey: PubKey,

    });

    pubnub.subscribe({
        channels: [myChannel]
    });
    
    // Subscribe to the demo_tutorial channel
    pubnub.addListener({
        message: function (object) {
            console.log(object.message[0])
            if (object.message[0] == "NewQuestion") {
                var answers = object.message[2]
                console.log(answers);
                for (var i = 1; i < 9; i++) {
                    $("#answers" + i ).text("");
                }
                for (var i = 0; i < answers.length; i++) {
                    $("#answers" + (i+1)).text(answers[i][0]);
                }
                $("#questionBox").text(object.message[1]);
            }            
        }
    })

    $(".aButtons").on('click', function () {
        var thisID = $(this).prop('id');
        //console.log(thisID);
        //var divID = document.getElementById(thisID);
        pubnub.publish({
            message: ["Correct", "#"+thisID],
            channel: myChannel
        });

    });
    
    $(".wrongButton").on('click', function () {

        pubnub.publish({
            message: ["Wrong", wrongAnswersCount],
            channel: myChannel
        });
        if (wrongAnswersCount < 4) {
            wrongAnswersCount++;
        }
    });

    $(".addToTeam1").on('click', function () {
        pubnub.publish({
            message: ["Award", "#teamTotal1"],
            channel: myChannel
        });
    });

    $(".addToTeam2").on('click', function () {
        pubnub.publish({
            message: ["Award", "#teamTotal2"],
            channel: myChannel
        });
    });

    $(".nextQuestion").on('click', function () {

        pubnub.publish({
            message: ["Next"],
            channel: myChannel
        });
        wrongAnswersCount = 1;
        
    });
</script>