@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    @Styles.Render("~/Content/StevesStyles")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    <link rel="stylesheet" href="SteveScreenc2.css">
    <title>Steve Harvey's Screen 111111111111111111</title>
    <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.js"></script>
</head>
<body class="fullPage">
    <div class="question">hello my name is david and i am testing if the css i have coded will actually wrap itself like it is supposed to?  </div>
    <div class="answersContainer">
        <div class="answersBox" id="answersBox1">
            <div class="aButtonsBox">
                <button class="aButtons" id="aButtons1">1</button>
                <div class="answers" id="answers1">test test test test</div>

            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="aButtons2">2</button>
                <div class="answers" id="answers2">test test test test</div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="aButtons3">3</button>
                <div class="answers" id="answers3">test test test test</div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="aButtons4">4</button>
                <div class="answers" id="answers4">test test test test</div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="aButtons5">5</button>
                <div class="answers" id="answers5">test test test test</div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="aButtons6">6</button>
                <div class="answers" id="answers6">test test test test</div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="aButtons7">7</button>
                <div class="answers" id="answers7">test test test test</div>
            </div>
        </div>
        <div class="answersBox">
            <div class="aButtonsBox">
                <button class="aButtons" id="aButtons8">8</button>
                <div class="answers" id="answers8">test test test test</div>
            </div>
        </div>
    </div>
    <div class="otherButtonsBox">
        <button class="wrongButton">WRONG ANSWER</button>
        <button class="addToTeam1">Team 1 Points</button>
        <button class="addToTeam2">Team 2 Points</button>
        <button class="nextQuestion">Next Question</button>
    </div>

    <div class="footer"> Developed by: David Martin and Codey VonVreckin</div>

</body>
</html>
<script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.19.0.js"></script>
<script type="text/javascript">
    //  want to store these in C#
    var SubKey = "sub-c-e53da4be-c647-11e7-8d13-12daa3930087";
    var PubKey = "pub-c-12219e16-c45b-411e-aa5a-977e1a130441";
    var myChannel = 'DavidSucksBallz';

    var pubnub = new PubNub({
        subscribeKey: SubKey,
        publishKey: PubKey,

    });

    // Subscribe to the demo_tutorial channel
    pubnub.addListener({
        message: function (object) {
            console.log(object.message[0]);
            console.log(object.message[1]);
        }
    })

    pubnub.subscribe({
        channels: [myChannel]
    });
</script>